html {
  overflow-y: scroll;
}
#pageTitle {
  font-weight: 600;
}
#instructions, #courseInfo, #businessRules, #evaluationInfo, #submitDiv, #navFooter {
  display: none;
}
#businessRules h3 {
  margin-bottom: 1rem;
}
a, a:hover {
  color: #205c3b;
}
code {
  color: inherit;
}
.bg-brbp-dark-green {
  background-color: #314232 !important;
}
.bg-brbp-dark-blue {
  background-color: #324e84 !important;
}
.bg-brbp-green {
  background-color: #205c3b !important;
}
.bg-brbp-dark-grey {
  background-color: #20232a !important;
}
.badge-brbp {
  color: #24292e;
  background-color: #ffd09f;
}
.disabled {
  opacity: 0.33;
}
.callout {
  background-color: #f3f4f7;
  border-left: 0.5rem solid;
  padding: 0.5rem 1.5rem 0.5rem 0.75rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.callout p:last-child {
  margin-bottom: 0.15rem;
}
.callout ul:last-child {
  margin-bottom: 0.5rem;
}
.callout-blue {
  background-color: #328de514;
  border-left: 0.5rem solid #328de5;
}
.callout-blue h4 {
  color: #328de5f8;
}
.callout-red {
  background-color: #f53d3214;
  border-left: 0.5rem solid #f53d32;
}
.callout-red h4 {
  color: #f53d32f8;
}
.callout-green {
  background-color: #205c3b14;
  border-left: 0.5rem solid #205c3b;
}
.callout-green h4 {
  color: #205c3bf8;
}
.callout-orange {
  background-color: #ff810014;
  border-left: 0.5rem solid #ff8100;
}
.callout-orange h4 {
  color: #ff8100f8;
}
footer section {
  margin-bottom: 0.25rem;
  color: hsla(0,0%,100%,.4);
  text-align: center;
}
#footerRulesInfo {
  font-size: 0.75rem;
}
