html, body, h1, h2, h3, h4, p, div, b {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}
body {
  background-color: #efefef;
  margin: 20px auto;
  font-family: sans-serif;
  width: 80%;
  min-width: 720px;
  max-width: 960px;
}
h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 20px;
}
p, ul {
  margin: 10px 0px;
}
p {
  line-height: 1.25;
}
#instructions, #courseInfo {
  border-bottom: 1px solid;
}
#courseInfo {
  padding-bottom: 10px;
}
.courseInfoElem {
  display: table;
  margin: 4px 0;
}
.courseInfoElem label {
  display: table-cell;
  width: 17%;
}
.courseInfoElem input[type=text] {
  display: table-cell;
}
.businessRuleSection {
  padding-bottom: 20px;
  margin: 20px auto;
  border-bottom: 1px solid;
}
h2 {
  margin: 10px 0px;
  font-size: 2.0em;
  font-weight: bold;
}
.ruleText {
  margin: 10px 0px;
}
.ruleText h3 {
  margin: 10px auto;
  font-size: 1.1em;
  font-weight: bold;
}
.ruleDescriptionMarkup li {
  margin: 4px 0 auto;
  line-height: 1.25;
}
.ruleDescriptionMarkup code {
  font-size: 1.25em;
}
.radioGroup {
  margin-bottom: 4px;
}
.radioGroup label {
  padding-right: 0.6em;
}
.radioGroup input[type=radio] {
  margin-right: 0.2em;
}
